@charset "utf-8";

:root{
    --fc-main:#efefef;
}

/* layout */
body{background:#000; color:#efefef;}
.wrap{padding-top:5.6rem;}

header.header{}
header .header__inner{position:fixed; left:0; top:0; width:100%; height:5.6rem;}
header.header h1 a{display:block; width:9.8rem; height:5.6rem; background:url(https://www.batterylifecare.com/images/common/logo.png) 0 50% no-repeat; background-size:100% auto; margin-left:2rem;}
header.header nav {display: none;}
.header__util {position:absolute; right:0; top:0; display:flex; align-items:center;}
.header__app {}
.btn__aside-open {position:relative; width:5.8rem; height:5.8rem; padding:0 2rem;}
.btn__aside-open span{position:absolute;}
.btn__aside-open span,
.btn__aside-open span::before,
.btn__aside-open span::after {display:block; width:2rem; height:2px; background:#fff;}
.btn__aside-open span::before,
.btn__aside-open span::after{content:''; position:absolute;}
.btn__aside-open span::before{top:7px;}
.btn__aside-open span::after{top:-7px;}

.aside__wrap{position:fixed; top:0; right:0; width:80%; height:100%; box-sizing:border-box; padding:2rem; background:#1E1E1E; z-index:101; transform:translateX(100%); transition:transform .3s;}
.aside__wrap.open{transform:translateX(0);}
.btn__aside-close{position:absolute; right:0; top:0; width:5.6rem; height:5.6rem;}
.btn__aside-close::before,
.btn__aside-close::after{content:''; position:absolute; left:50%; top:50%; display:block; width:2rem; height:2px; background:#fff;}
.btn__aside-close::before{transform:translate(-50%, -50%) rotate(-45deg);}
.btn__aside-close::after{transform:translate(-50%, -50%) rotate(45deg);}


footer.footer{background:#2c2c2c; padding:3.2rem 2rem 3.6rem;}
.footer__util{border-top:1px solid #494949; padding:2rem 0 1.2rem;}
.footer__util ul{display:flex; align-items:center;}
.footer__util ul li{}
.footer__util ul li + li {margin-left:2.4rem;}
.footer__util ul li a{display:block; font-size:1.2rem; color:#a2a2a2;}
.footer_copy{display:flex; align-items:center; flex-wrap:wrap; line-height:1.8rem; font-size:1.2rem; color:#a2a2a2;}
.footer_copy p{width:100%;}
.footer_copy p strong{font-weight:700;}
.footer_copy dl{display:flex; align-items:center;}
.footer_copy dl dt{font-weight:700;}
.footer_copy dl dd{margin-left:0.5rem;}
.footer_copy .ceo{}
.footer_copy .call{}
.footer_copy .num{}
.footer_copy .add{}
.footer_link{margin-top:2.2rem;}



.container{overflow:hidden;}
.section{margin:4rem 2rem 0;}




/* etc */
.hidden {position:relative; display:block; height:1px; width:1px; border:0; clip:rect(1px, 1px, 1px, 1px); clip-path:inset(50%); word-break:initial; word-wrap:initial; z-index:-1; overflow:hidden;}
.dimmed {position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6); filter:alpha(opacity=60); touch-action:none; z-index:100;}
.no_scroll {overflow:hidden;}


/* form */
.input input:disabled,
.input input[readonly] {background:var(--bg_02, #f7f7f8); -webkit-text-fill-color:var(--fc_02, #26282c); -webkit-opacity:1; color:var(--fc_02, #26282c); text-overflow:ellipsis; overflow:hidden; border-color:var(--fc_08, #dde1e4);} 
.input input.bg_white:disabled {background:var(--fc_10, #f7f7f8) !important;}
.input input.finished[readonly] {border-color:var(--fc_08, #dde1e4); background:var(--bg_02, #f7f7f8);}
textarea.finished {border-color:#aab0b8;}
.input input.bg_white.finished + .unit {color:var(--fc_02, #26282c);}
.input input.bg_white[readonly],
.input input.bg_white.finished[readonly] {border-color:#b0986a; background:var(--bg_02, #f7f7f8);}





/* tab */
.wrap-tab-container + .wrap-tab-container{margin-top:2rem;}
.wrap-tab-list {position:relative; display:flex; align-items:center; justify-content:space-between; border-radius:4.4rem; background:#2C2C2C; overflow:hidden; z-index:0;}
.tab-list + .tab-list {margin-left:-1px;}
.tab-list {flex:1 1 auto; position:relative; display:inline-block; border-radius:4.4rem; z-index:0;}
.tab-list .tab-button {display:block; width: 100%; height:4.4rem; font-size:1.4rem; color:#a2a2a2; text-align:center; border-radius:4.4rem; border:1px solid transparent; box-sizing:border-box;}
.tab-list.active {background:linear-gradient(116.05deg, #6CFFED 16.42%, #06B5D1 83.58%); z-index: 10;}
.tab-list.active .tab-button {color:#fff; font-weight:700; background:linear-gradient(116.05deg, #263533 16.42%, #1c2d30 83.58%); background-clip:padding-box;}
.wrap-tab-contents {width:100%; margin-top:3rem;}
.wrap-tab-contents .tab-contents {width:100%;}

/* accordion */
.accordion-btn {display:block; position:relative; width:100%; padding:16px 40px 16px 20px; font-size:13px; color:#EFEFEF; line-height:18px; text-align:left}
.accordion-btn::after {content:''; display:inline-block; position:absolute; top:50%; right:22px; width:10px; height:10px; margin-top:-3px; margin-right:-7px; border-top:1px solid #7C7C7C; border-right:1px solid #7C7C7C; transform:translate(0, -60%) rotate(135deg)}
.accordion-btn[aria-expanded="true"]::after {transform:translate(0, -40%) rotate(-45deg)}
.wrap-accordion-contents {background:#2C2C2C; overflow:hidden;}
.inner-accordion-contents {padding:20px; color:#EFEFEF; font-size:13px; line-height:18px}










@media only screen and (max-width:1440px) {
	
}

@media only screen and (max-width:1280px) {
	
}

@media only screen and (max-width:1024px) {

}

@media only screen and (max-width:768px) {
	
}

@media only screen and (max-width:640px) {
	
}

@media only screen and (max-width:425px) {
	
}

@media only screen and (max-width:375px) {
	
}

@media only screen and (max-width:320px) {
	
}