@charset "utf-8";

:root{
    --fc-main:#1e1e1e;
}

/* layout */
body{background:#1E1E1E; color:#1e1e1e;}
.wrap{padding-top:15rem;}

.tit_wrap {margin-bottom:6rem; text-align:center;}
.tit_wrap h2 {color:#EFEFEF; font-size:3.2rem; line-height:4.5rem;}
.tit_wrap .des {margin-top:4rem; color:#A2A2A2; font-size:2.4rem; line-height:3.1rem;}

header .header__inner{position:fixed; left:0; top:0; display:flex; align-items:center; justify-content:space-between; width:100%; height:15rem; box-sizing:border-box; padding:0 6rem;}
header.header h1 a{display:block; width:12.2rem; height:2.2rem; background:url(../img/common/logo.svg) 0 50% no-repeat; background-size:100% auto;}

.header__nav {margin-left:4rem;}
.header__nav ul{display:flex; align-items:center; justify-content:space-between;}
.header__nav ul li + li{margin-left:3rem;}
.header__nav ul li a{display:block; width:13.2rem; text-align:center; font-size:1.8rem; color:#fff; font-weight:400; line-height:2.5rem;}


.header__util {display:flex; align-items:center; margin-left:auto;}
.header__app {width:15.4rem; height:4.9rem; line-height:4.9rem; font-weight:400; background:#fff; border-radius:2.5rem; color:#1E1E1E; font-size:1.8rem;}
.btn__aside-open {position:relative; width:4rem; height:4rem; padding:0 0.55rem; margin-left:3rem;}
.btn__aside-open span{position:absolute;}
.btn__aside-open span,
.btn__aside-open span::before,
.btn__aside-open span::after {display:block; width:2.8rem; height:0.3rem; background:#fff;}
.btn__aside-open span::before,
.btn__aside-open span::after{content:''; position:absolute;}
.btn__aside-open span::before{top:9px;}
.btn__aside-open span::after{top:-9px;}

.aside__wrap{position:fixed; top:0; right:0; width:80%; height:100%; box-sizing:border-box; padding:2rem; background:#1E1E1E; z-index:101; transform:translateX(100%); transition:transform .3s;}
.aside__wrap.open{transform:translateX(0);}
.btn__aside-close{position:absolute; right:0; top:0; width:5.6rem; height:5.6rem;}
.btn__aside-close::before,
.btn__aside-close::after{content:''; position:absolute; left:50%; top:50%; display:block; width:2rem; height:2px; background:#fff;}
.btn__aside-close::before{transform:translate(-50%, -50%) rotate(-45deg);}
.btn__aside-close::after{transform:translate(-50%, -50%) rotate(45deg);}

.header__sub-ttl{display:flex; align-items:center; height:5.6rem;}
.header__sub-ttl h1{font-size:1.7rem; color:#efefef; font-weight:700;}
.btn__history-back {display:block; width:5.6rem; height:5.6rem; background:url(../img/common/btn_prev.png) 2.5rem 50% no-repeat; background-size:1.1rem auto;}


footer.footer{background:#fff; padding:6rem 0;}
footer.footer .footer__inner{position:relative; width:100%; max-width:136.6rem; margin:0 auto;}

.footer__cs-ttl{font-size:2rem; font-weight:700; line-height:2.8rem;}
.footer__cs-cont{display:flex; align-items:center; margin-top:1rem;}
.footer__cs-cont span{display:inline-block; font-size:2.4rem; line-height:3.3rem; font-weight:700;}
.footer__cs-cont a{display:inline-block; width:2.6rem; height:2.6rem;}
.footer__cs-cont .cs_kakao{background:url(../img/common/cs_kakao.svg) 0 0 no-repeat; background-size:100% auto; margin-left:2.7rem;}
.footer__cs-cont .cs_tel{background:url(../img/common/cs_call.svg) 0 0 no-repeat; background-size:100% auto; margin-left:1rem;}
.footer__cs-txt{font-size:1.6rem; line-height:2rem; margin-top:0.6rem;}

.footer__cs .txt{font-size:1.4rem; margin-top:0.4rem;}
.footer__cs .sns{display:flex; align-items:center; margin-top:1.6rem;}
.footer__cs .sns a{display:block; width:4rem; height:4rem; background:rgba(255,255,255,0.1)}
.footer__cs .sns a + a{margin-left:1.6rem;}

.footer__util{margin-top:3.4rem;}
.footer__util ul{display:flex; align-items:center;}
.footer__util ul li + li {position:relative; padding-left:2.5rem;}
.footer__util ul li + li::before{content:''; position:absolute; left:1.25rem; top:50%; transform:translateY(-50%); display:block; width:1px; height:1.4rem; background:#A6A6A6;}
.footer__util ul li a{display:block; font-size:1.4rem; color:#707070; line-height:2rem;}

.footer_copy{display:flex; align-items:center; flex-wrap:wrap; margin-top:1.5rem; font-size:1.4rem; line-height:2rem; color:#707070;}
.footer_copy dl{display:flex; align-items:center;}
.footer_copy dl + dl{position:relative; padding-left:2.5rem;}
.footer_copy dl + dl::before{content:''; position:absolute; left:1.25rem; top:50%; transform:translateY(-50%); display:block; width:1px; height:1.4rem; background:#A6A6A6;}
.footer_copy dl dt{font-weight:700;}
.footer_copy dl dd{margin-left:0.5rem;}
.footer_copy p{width:100%; margin-top:1.6rem;}
.footer_copy p strong{font-weight:700;}

.footer__app{position:absolute; right:0; top:0;}
.footer__app-ttl{font-size:2rem; color:#333; line-height:2.7rem}
.footer_app-cont{display:flex; align-items:center; margin-top:2rem;}
.footer__app .appstore,
.footer__app .googleplay{display:inline-block; width:13.3rem; height:3.8rem; background:url(../img/common/app_appstore.png) 0 0 no-repeat; background-size:100% auto;}
.footer__app .googleplay{background-image:url(../img/common/app_googleplay.png); margin-left:3rem;}




.container{overflow:hidden;}
.section{padding:12rem 6rem 0;}
/* .section-wide{margin:4rem 0 0;} */




/* etc */
.hidden {position:relative; display:block; height:1px; width:1px; border:0; clip:rect(1px, 1px, 1px, 1px); clip-path:inset(50%); word-break:initial; word-wrap:initial; z-index:-1; overflow:hidden;}
.dimmed {position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6); filter:alpha(opacity=60); touch-action:none; z-index:100;}
.no_scroll {overflow:hidden;}


/* form */
.input input:disabled,
.input input[readonly] {background:var(--bg_02, #f7f7f8); -webkit-text-fill-color:var(--fc_02, #26282c); -webkit-opacity:1; color:var(--fc_02, #26282c); text-overflow:ellipsis; overflow:hidden; border-color:var(--fc_08, #dde1e4);} 
.input input.bg_white:disabled {background:var(--fc_10, #f7f7f8) !important;}
.input input.finished[readonly] {border-color:var(--fc_08, #dde1e4); background:var(--bg_02, #f7f7f8);}
textarea.finished {border-color:#aab0b8;}
.input input.bg_white.finished + .unit {color:var(--fc_02, #26282c);}
.input input.bg_white[readonly],
.input input.bg_white.finished[readonly] {border-color:#b0986a; background:var(--bg_02, #f7f7f8);}





/* tab */
.wrap-tab-container + .wrap-tab-container{margin-top:2rem;}
.wrap-tab-list {position:relative; display:flex; align-items:center; justify-content:space-between; border-radius:4.4rem; background:#2C2C2C; overflow:hidden; z-index:0;}
.tab-list + .tab-list {margin-left:-1px;}
.tab-list {flex:1 1 auto; position:relative; display:inline-block; border-radius:4.4rem; z-index:0;}
.tab-list .tab-button {display:block; width: 100%; height:4.4rem; font-size:1.4rem; color:#a2a2a2; text-align:center; border-radius:4.4rem; border:1px solid transparent; box-sizing:border-box;}
.tab-list.active {background:linear-gradient(116.05deg, #6CFFED 16.42%, #06B5D1 83.58%); z-index: 10;}
.tab-list.active .tab-button {color:#fff; font-weight:700; background:linear-gradient(116.05deg, #263533 16.42%, #1c2d30 83.58%); background-clip:padding-box;}
.wrap-tab-contents {width:100%; margin-top:3rem;}
.wrap-tab-contents .tab-contents {width:100%;}

/* accordion */
.wrap-accordion-group{margin:0 -2rem;}
.accordion-btn {display:block; position:relative; width:100%; padding:1.6rem 4rem 1.6rem 2rem; font-size:1.3rem; color:#efefef; line-height:1.8rem; text-align:left}
.accordion-btn::after {content:''; display:inline-block; position:absolute; top:50%; right:2.2rem; width:1rem; height:1rem; margin-top:-0.3rem; margin-right:-0.7rem; border-top:1px solid #7C7C7C; border-right:1px solid #7C7C7C; transform:translate(0, -60%) rotate(135deg); /*transition:all 0.3s;*/}
.wrap-accordion-group li.on .accordion-btn::after{transform:translate(0, -40%) rotate(-45deg)}

/* .accordion-btn[aria-expanded="true"]::after {transform:translate(0, -40%) rotate(-45deg);} */
.accordion-btn[aria-expanded="false"] + .wrap-accordion-contents {display:none;}
.accordion-btn[aria-expanded="true"] + .wrap-accordion-contents {display:block;}

.wrap-accordion-contents {background:#2C2C2C; overflow:hidden;}
.inner-accordion-contents {padding:2rem; color:#EFEFEF; font-size:1.3rem; line-height:1.8rem;}

/* selectbox */
/* .select_box{position:relative;}
.select_box .btn_select{position:relative; display:block; width:100%; height:5rem; font-size:1.5rem; text-align:left; color:#7C7C7C  ; border-bottom:1px solid #2c2c2c;}
.select_box .btn_select::after{content:''; position:absolute; top:50%; right:0.2rem; display:inline-block; width:10px; height:10px; margin-top:-2px; border-top:1px solid #7C7C7C; border-right:1px solid #7C7C7C; transform:translate(0, -60%) rotate(135deg);}
.select_box .btn_select.selected{color:#fff;}
.select_box .btn_select.on::after{transform:translate(0, -40%) rotate(-45deg);}
.select_list_box{position:absolute; left:0; top:5rem; width:calc(100% + 4rem); margin:-1px -2rem 0; background:#1E1E1E; border-top:1px solid #494949; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); z-index:9; display:none;}
.select_list_box.on{display:block;}
.select_list li input[type=radio] {width:1px; height:1px;}
.select_list li label {display:block; font-size:1.3rem; font-weight:700; padding:0.7rem 3.5rem 0.7rem 2rem;}
.select_list li input[type=radio]:checked + label {color:#50CCE0;} */













@media only screen and (max-width:1440px) {
	
}

@media only screen and (max-width:1280px) {
	
}

@media only screen and (max-width:1024px) {
    .section {padding:4rem 2rem 0;}
    .tit_wrap {margin-bottom:4rem;}
    .tit_wrap h2 {font-size:2.4rem; line-height:3.3rem;}
    .tit_wrap .des {margin-top:1.4rem; font-size:1.5rem; line-height:2rem;}
}

@media only screen and (max-width:768px) {
	
}

@media only screen and (max-width:640px) {
	
}

@media only screen and (max-width:425px) {
	
}

@media only screen and (max-width:375px) {
	
}

@media only screen and (max-width:320px) {
	
}