@charset "utf-8";

:root{
    --fc_01:#1E1E1E;
    --fc_02:#50CCE0;

    --bg_01:#1E1E1E;
    --bg_02:#50CCE0;


    --placeholder:#929292;
}

html, body, .wrap {overscroll-behavior-y:none;}
body{background:var(--bg_01, #1E1E1E); color:var(--fc_01, #1E1E1E);}
.wrap{box-sizing:border-box; padding-top:15rem; transition:padding .3s;}

/* header */
header .header__inner{position:fixed; left:0; top:0; display:flex; align-items:center; justify-content:space-between; width:100%; height:15rem; background:var(--bg_01, #1E1E1E); box-sizing:border-box; padding:0 6rem; z-index:9; transition:height .3s, padding .3s;}
header.header h1 a{display:block; width:12.2rem; height:2.2rem; background:url(../img/common/logo.svg) 0 50% no-repeat; background-size:100% auto;}

.header__nav {margin-left:4rem;}
.header__nav ul{display:flex; align-items:center; justify-content:space-between;}
.header__nav ul li + li{margin-left:3rem;}
.header__nav ul li a{display:block; width:13.2rem; text-align:center; font-size:1.8rem; color:#fff; font-weight:700; line-height:2.5rem;}
.header__nav ul li.on a{color:var(--fc_02, #50CCE0);}

.header__util {display:flex; align-items:center; margin-left:auto;}

@keyframes appDownOpen {
    0%{width:15.4rem; height:4.9rem;}
    2%{width:32rem;}
    100%{width:32rem; height:21.3rem;}
}
.header__app {position:relative; width:15.4rem; height:4.9rem; z-index:9;}
.header__app-inner {position:absolute; right:0; top:0; width:15.4rem; height:4.9rem; line-height:4.9rem; background:#fff; border-radius:2.5rem; overflow:hidden;}
.header__app.on .header__app-inner{/*width:32rem; height:21.3rem; z-index:9;*/ animation-name:appDownOpen; animation-duration: .2s; animation-timing-function: linear; animation-fill-mode: forwards;}
.header__app.on .header__app-content{display:block;}
.header__app-btn {display:block; width:15.4rem; height:4.9rem; line-height:4.9rem; font-size:1.8rem; font-weight:700; box-sizing:border-box; padding-left:2rem; background:url(../img/common/ico_arrow_down.svg) right 2rem top 50% no-repeat; background-size:2rem auto; margin-left:auto;}
.header__app-content {border-top:1px solid #d9d9d9; margin:0 2rem 2rem; padding-top:1.2rem; display: none;}
.header__app-content ul{display:flex; align-items:center; justify-content:center;}
.header__app-content ul li + li{margin-left:3.2rem;}
.header__app-content ul li.qrcode_appstore::before,
.header__app-content ul li.qrcode_googleplay::before {content:''; display:block; width:9rem; height:9rem; background:url(../img/common/qrcode_appstore.png) 0 0 no-repeat; background-size:100% auto; margin:0 auto;}
.header__app-content ul li.qrcode_googleplay::before{background-image:url(../img/common/qrcode_googleplay.png)}
.header__app-content .bn_appstore,
.header__app-content .bn_googleplay{display:block; width:9.8rem; margin-top:1.4rem;}

/* aside */
.btn__aside-open {position:relative; width:4rem; height:4rem; padding:0 0.55rem; margin-left:3rem;}
.btn__aside-open span{position:absolute;}
.btn__aside-open span,
.btn__aside-open span::before,
.btn__aside-open span::after {display:block; width:2.8rem; height:0.3rem; background:#fff; transition:all .3s;}
.btn__aside-open span::before,
.btn__aside-open span::after{content:''; position:absolute;}
.btn__aside-open span::before{top:9px;}
.btn__aside-open span::after{top:-9px;}

.aside__wrap{position:fixed; top:0; right:0; width:100%; height:100%; box-sizing:border-box; background:rgba(30, 30, 30, 0.95); z-index:101; transform:translateX(100%); transition:transform .3s;}
.aside__wrap.open{transform:translateX(0);}
.aside__inner{width:100%; height:100%; display:flex; /* align-items:center; */ justify-content:center; padding:2rem; overflow-y:scroll;}
.aside__menu{display:flex; flex-direction:column; justify-content:flex-start; width:33.5rem; margin:auto;}
.aside__menu ul li + li{border-top:1px solid #393939;}
.aside__menu ul li a{display:block; text-align:center; font-size:3rem; line-height:5.4rem; color:#fff; font-weight:700; transition:color .3s; margin:1.2rem 0;}
.aside__menu ul li a:hover{color:var(--fc_02, #50CCE0);}

.btn__aside-close{position:absolute; right:6rem; top:5.5rem; width:4rem; height:4rem; background:url(../img/common/btn_aside_close.svg) 50% 50% no-repeat var(--bg_01, #1E1E1E); background-size:100% auto;}

/* header sub */
.header__sub-ttl{display:flex; align-items:center; height:5.6rem;}
.header__sub-ttl h1{font-size:1.7rem; color:#efefef; font-weight:700;}
.btn__history-back {display:block; width:5.6rem; height:5.6rem; background:url(../img/common/btn_prev.png) 2.5rem 50% no-repeat; background-size:1.1rem auto;}

/* footer */
footer.footer{background:#fff; padding:6rem 0;}
footer.footer .footer__inner{position:relative; width:calc(100% - 12rem); max-width:136.6rem; box-sizing:border-box; margin:0 auto;}

.footer__cs-ttl{font-size:2rem; font-weight:700; line-height:2.8rem;}
.footer__cs-cont{display:flex; align-items:center; margin-top:1rem;}
.footer__cs-cont span{display:inline-block; font-size:2.4rem; line-height:3.3rem; font-weight:700;}
.footer__cs-cont a{display:inline-block; width:2.6rem; height:2.6rem;}
.footer__cs-cont .cs_kakao{background:url(../img/common/cs_kakao.svg) 0 0 no-repeat; background-size:100% auto; margin-left:2.7rem;}
.footer__cs-cont .cs_tel{background:url(../img/common/cs_call.svg) 0 0 no-repeat; background-size:100% auto; margin-left:1rem;}
.footer__cs-txt{font-size:1.6rem; line-height:2rem; margin-top:0.6rem;}

.footer__cs .txt{font-size:1.4rem; margin-top:0.4rem;}
.footer__cs .sns{display:flex; align-items:center; margin-top:1.6rem;}
.footer__cs .sns a{display:block; width:4rem; height:4rem; background:rgba(255,255,255,0.1)}
.footer__cs .sns a + a{margin-left:1.6rem;}

.footer__util{margin-top:3.4rem;}
.footer__util ul{display:flex; flex-wrap:wrap; align-items:center;}
.footer__util ul li + li {position:relative; padding-left:2.5rem;}
.footer__util ul li + li::before{content:''; position:absolute; left:1.25rem; top:50%; transform:translateY(-50%); display:block; width:1px; height:1.4rem; background:#A6A6A6;}
.footer__util ul li a{display:block; font-size:1.4rem; color:#707070; line-height:2rem; font-weight:700;}

.footer_copy{display:flex; align-items:center; flex-wrap:wrap; margin-top:1.5rem; font-size:1.4rem; line-height:2rem; color:#707070;}
.footer_copy dl{display:flex; align-items:center;}
.footer_copy dl + dl{position:relative; padding-left:2.5rem;}
.footer_copy dl + dl::before{content:''; position:absolute; left:1.25rem; top:50%; transform:translateY(-50%); display:block; width:1px; height:1.4rem; background:#A6A6A6;}
.footer_copy dl dt{font-weight:700;}
.footer_copy dl dd{margin-left:0.5rem;}
.footer_copy p{width:100%; margin-top:1.6rem;}
.footer_copy p strong{font-weight:700;}

.footer__app{position:absolute; right:0; top:0;}
.footer__app-ttl{font-size:2rem; color:#333; line-height:2.7rem; font-weight:700;}
.footer_app-cont{display:flex; align-items:center; margin-top:2rem;}
.footer__app .bn_googleplay{margin-left:3rem;}

.bn_appstore,
.bn_googleplay {display:inline-block; width:13.3rem;}
.bn_appstore::before,
.bn_googleplay::before{content:''; display:block; width:100%; padding-bottom:28.571428571428573%; background:url(../img/common/app_appstore.svg) 0 0 no-repeat; background-size:100% auto;}
.bn_googleplay::before{background-image:url(../img/common/app_googleplay.svg);}


/* layout */
.container{overflow:hidden;}
.section{padding:12rem 6rem 0;}

/* br */
.br_mo{display: none;}

/* pc/mo */
.pc_hidden {display:none;}
.mo_hidden {display:block;}


/* title */
.tit_wrap {margin-bottom:6rem; text-align:center;}
.tit_wrap h2 {color:#EFEFEF; font-size:3.2rem; line-height:4.5rem; font-weight:700;}
.tit_wrap .des {margin-top:4rem; color:#A2A2A2; font-size:2.4rem; line-height:3.1rem;}


/* etc */
.hidden {position:relative; display:block; height:1px; width:1px; border:0; clip:rect(1px, 1px, 1px, 1px); clip-path:inset(50%); word-break:initial; word-wrap:initial; z-index:-1; overflow:hidden;}
.dimmed {position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6); filter:alpha(opacity=60); touch-action:none; z-index:100;}
.no_scroll {overflow:hidden;}


/* tab */
.tit_wrap + .wrap-tab-container {margin-top:-2.4rem;}
.wrap-tab-list {position:relative; display:flex; align-items:center; justify-content:space-between; gap:6.2rem; max-width:62.8rem; margin:0 auto; overflow:hidden; z-index:0;}
.wrap-tab-list::after {content:''; display:block; position:absolute; left:0; right:0; bottom:0; width:100%; height:2px; background-color:#4D4D4D;}
.tab-list {flex:1 1 auto; position:relative; display:inline-block; width:calc(100% / 3); max-width:16.8rem; z-index:0;}
.tab-list .tab-button {display:block; width:100%; padding:3.6rem 0; color:#A2A2A2; font-size:2.4rem; line-height:2.8rem; text-align:center; box-sizing:border-box;}
.tab-list.active {z-index:10;}
.tab-list.active .tab-button {color:var(--fc_02, #50CCE0); font-weight:700;}
.tab-list.active .tab-button::after {content:''; display:block; position:absolute; bottom:0; left:0; right:0; width:100%; height:0.8rem; border-radius:0.4rem 0.4rem 0 0; background-color:var(--bg_02, #50CCE0);}
.wrap-tab-contents {width:100%; margin-top:6rem;}
.wrap-tab-contents .tab-contents {width:100%;}


/* accordion */
.wrap-accordion-group{margin:0 -2rem;}
.accordion-btn {display:block; position:relative; width:100%; padding:1.6rem 4rem 1.6rem 2rem; font-size:1.3rem; color:#efefef; line-height:1.8rem; text-align:left}
.accordion-btn::after {content:''; display:inline-block; position:absolute; top:50%; right:2.2rem; width:1rem; height:1rem; margin-top:-0.3rem; margin-right:-0.7rem; border-top:1px solid #7C7C7C; border-right:1px solid #7C7C7C; transform:translate(0, -60%) rotate(135deg);}
.wrap-accordion-group li.on .accordion-btn::after{transform:translate(0, -40%) rotate(-45deg)}
.accordion-btn[aria-expanded="false"] + .wrap-accordion-contents {display:none;}
.accordion-btn[aria-expanded="true"] + .wrap-accordion-contents {display:block;}
.wrap-accordion-contents {background:#2C2C2C; overflow:hidden;}
.inner-accordion-contents {padding:2rem; color:#EFEFEF; font-size:1.3rem; line-height:1.8rem;}


/* selectbox */
.select_box {position:relative;}
.select_box .btn_select {position:relative; display:block; width:100%; padding:1.4rem 4.4rem 1.4rem 1.8rem; border-radius:0.6rem; background-color:#2C2C2C; color:#7C7C7C; font-size:1.6rem; line-height:2rem; text-align:left;}
.select_box .btn_select::after {content:''; position:absolute; display:inline-block; top:calc(50% - 1rem); right:1.8rem; width:2rem; height:2rem; background:url(../img/common/ico_arrow_down_gray.svg) no-repeat center / contain;}
.select_box .btn_select.selected {color:#fff;}
.select_box .btn_select.on {border-radius:0.6rem 0.6rem 0 0;}
.select_box .btn_select.on::after {transform:rotate(180deg);}
.select_list_box {position:absolute; left:0; top:4.8rem; width:100%; border-top:1px solid #494949; border-radius:0 0 0.6rem 0.6rem; background:#2C2C2C; box-shadow:0px 0.4rem 0.6rem rgba(0,0,0,0.2); z-index:9; display:none;}
.select_list_box.on {display:block;}
.select_list li input[type=radio] {position:absolute; width:1px; height:1px; font-size:0; text-indent:-9999%; overflow:hidden;}
.select_list li label {display:block; padding:1.4rem 1.8rem; color:#EFEFEF; font-size:1.6rem; line-height:2rem;}
.select_list li input[type=radio]:checked + label {color:var(--fc_02, #50CCE0);}




@media only screen and (max-width:1440px) {
}

@media only screen and (max-width:1280px) {
    .wrap{padding-top:10rem;}

    header .header__inner{height:10rem; padding:0 4rem;}
	.header__nav{display:none;}

    .btn__aside-close{right:4rem; top:3rem;}

    footer.footer .footer__inner{width:calc(100% - 8rem);}
}

@media only screen and (max-width:1024px) {
    /* br */
    .br_mo{display: block;}
    .br_pc{display: none;}

    .pc_hidden {display:block;}
    .mo_hidden {display:none;}

    .section {padding:4rem 2rem 0;}

    .tit_wrap {margin-bottom:4rem;}
    .tit_wrap h2 {font-size:2.4rem; line-height:3.3rem;}
    .tit_wrap .des {margin-top:1.4rem; font-size:1.5rem; line-height:2rem;}

    /* tab */
    .tit_wrap + .wrap-tab-container {margin-top:-1.5rem;}
    .wrap-tab-list {gap:2.4rem;}
    .tab-list {min-width:9rem;}
    .tab-list .tab-button {padding:1.5rem 0; font-size:1.4rem; line-height:2.2rem;}
    .tab-list.active .tab-button::after {height:0.6rem;}
    .wrap-tab-contents {margin-top:4rem;} 

    /* selecbox */
    .select_box .btn_select {padding:1.5rem 3.4rem 1.5rem 1.4rem;}
    .select_box .btn_select::after {top:calc(50% - 0.8rem); right:1.4rem; width:1.6rem; height:1.6rem; background:url(../img/common/ico_arrow_down_gray_sm.svg) no-repeat center / contain;}
    .select_list li label {padding:1.5rem 1.4rem; font-size:1.5rem;}
}

@media only screen and (max-width:768px) {
	footer.footer{padding:4rem 0;}
    .footer__app{position:relative;}
    .bn_appstore, .bn_googleplay {width:16.1rem;}
    .footer__app .bn_googleplay{margin-left:1.3rem;}
    .footer__cs{margin-top:4rem;}
    .footer__cs-txt{font-weight:700;}
    .footer__util{margin-top:3rem;}
    .footer__util ul li + li{padding-left:1.3rem;}
    .footer__util ul li + li::before{left:0.6rem;}
    .footer_copy{margin-top:0.8rem;}
    .footer_copy dl + dl{padding-left:1.3rem;}
    .footer_copy dl + dl::before{left:0.6rem;}
    .footer_copy dl.add{margin-top:0.8rem; padding-left:0;}
    .footer_copy dl.add::before{display:none;}
    .footer_copy p{margin-top:1.4rem;}
}

@media only screen and (max-width:640px) {
    .wrap{padding-top:8rem;}
    header .header__inner{height:8rem; padding:0 3rem;}
    .btn__aside-close{right:3rem; top:2rem;}

    footer.footer .footer__inner{width:calc(100% - 6rem);}
}

@media only screen and (max-width:425px) {
    .wrap{padding-top:5.6rem;}
    header .header__inner{height:5.6rem; padding:0 1rem 0 2rem;}
    header.header h1 a{width:9.795rem; height:1.7rem;}

    .header__app{width:12rem; height:3.2rem;}
    .header__app-inner{width:12rem; height:3.2rem; border-radius:2rem;}
    .header__app-btn{width:12rem; height:3.2rem; line-height:3.2rem; padding-left:1.2rem; font-size:1.5rem; background-image:url(../img/common/ico_download.svg); background-position:right 1.2rem top 50%;}

    .btn__aside-open{margin-left:0; padding:0 1.1rem;}
    .btn__aside-open span,
    .btn__aside-open span::before,
    .btn__aside-open span::after{width:1.8rem; height:0.15rem;}
    .btn__aside-open span::before{top:7px;}
    .btn__aside-open span::after{top:-7px}

    .btn__aside-close{right:1rem; top:-4.7rem; background-image:url(../img/common/btn_aside_close_mo.svg)}
    .aside__wrap{top:5.6rem; height:calc(100% - 5.6rem); background:var(--bg_01, #1E1E1E);}
    .aside__inner{align-items:flex-start; padding:4rem 2rem 2rem;}
    .aside__menu{width:100%; margin:0;}
    .aside__menu ul li a{text-align:left; font-size:1.4rem; line-height:3.8rem; margin:0.8rem 0; padding:0 2rem;}

    footer.footer .footer__inner{width:calc(100% - 4rem);}

	.bn_appstore, .bn_googleplay{width:calc(50% - 1.3rem);}
}

@media only screen and (max-width:375px) {
	
}

@media only screen and (max-width:320px) {
	html {font-size:9px; min-width:280px;}
}