@charset "utf-8";

.idxSwiper {width:100%; color:#fff; overflow:hidden; z-index:1;}
.idxSwiper,
.idxSwiper .swiper-slide{height:calc( var(--vh) - 15rem); transition:height .3s;}
.idxSwiper .slide-inner{width:100%; max-width:120rem; height:100%; margin:0 auto; padding:8.2rem 0 0; background:url(../img/index/visual1.png) right 55% no-repeat; background-size:56rem auto;}

.idxSwiper .slide1 .slide-inner{background-image:url(../img/index/visual1.png);}
.idxSwiper .slide2 .slide-inner{background-image:url(../img/index/visual2.png);}
.idxSwiper .slide3 .slide-inner{background-image:url(../img/index/visual3.png);}
.idxSwiper .slide4 .slide-inner{background-image:url(../img/index/visual4.png);}
.idxSwiper .slide5 .slide-inner{background:none;}
.idxSwiper .slogan > span{display: block; font-size:2.4rem; line-height:3.1rem;}
.idxSwiper .slogan p{margin-top:2.4rem;}
.idxSwiper .slogan p strong{display:block; font-size:7.2rem; line-height:8.6rem; font-weight:700;}
.idxSwiper .slogan p span{display:block; font-size:1.6rem; line-height:2.1rem; margin-top:2rem;}
.idxSwiper .slogan .btn_detail{display:block; width:12.8rem; height:4.9rem; line-height:4.9rem; border-radius:2.5rem; background:#fff; text-align:center; font-size:1.8rem; color:#1e1e1e; font-weight:700; margin-top:6rem;}

.idxSwiper-evlife{margin-top:12.2rem;}
.idxSwiper-evlife ul{display:flex; align-items:center; justify-content:space-between;}
.idxSwiper-evlife li{flex:1 1 38rem;}
.idxSwiper-evlife li + li{margin-left:3rem;}
.idxSwiper-evlife li a{display:block;}
.idxSwiper-evlife li a img{width:100%;}

.idxSwiper .swiper-pagination{position:absolute; right:50%; top:50%; margin-right:-37%;}
.idxSwiper .swiper-pagination-bullet{display:block; width:1rem; height:1rem; border:2px solid #4D4D4D; border-radius:1rem; margin:0 auto;}
.idxSwiper .swiper-pagination-bullet-active{background:var(--fc-point); border-color:var(--fc-point); box-shadow:0 0 0.6px 2px var(--fc-point);}
.idxSwiper .swiper-pagination-bullet + .swiper-pagination-bullet{margin-top:1.6rem;}
.idxSwiper #scrollDown{position:absolute; bottom:5rem; left:calc(50% - 2.5rem); width:5rem; height:5rem; background:url(../img/index/icon_scroll_down.svg) no-repeat center / contain;}

.idxSwiper .bn_event{max-width:51.6rem; margin-top:6rem;}
.idxSwiper .bn_event .bn_inner{padding:2.4rem 4rem; background:var(--fc-point); border-radius:2rem;}
.idxSwiper .bn_event p{font-size:2.4rem; line-height:3.3rem;}
.idxSwiper .bn_event span{display:block; margin-top:2rem; color:#A2A2A2; font-size:1.5rem; line-height:2rem}
.idxSwiper .bn_event span::before{content:'※'; margin-right:0.4rem;}

.idxSwiper .bn_sns{display:none; padding:2.25rem 3rem; margin:4rem 2rem 0; border-radius:1.2rem; background:url(../img/index/bn_sns.png) right 1rem top 50% no-repeat #495665; background-size:11rem;}
.idxSwiper .bn_sns p{font-weight:300; font-size:1.7rem; line-height:2.2rem;}


.idxSwiper .br_pc{display:block;}
.idxSwiper .br_mo{display:none;}


@media only screen and (max-width:1440px) {
	
}

@media only screen and (max-width:1280px) {
	.idxSwiper,
	.idxSwiper .swiper-slide{height:calc( var(--vh) - 10rem);}

	.idxSwiper .swiper-pagination{display:none;}
	.idxSwiper #scrollDown{display:none;}

	.idxSwiper .slide-inner{max-width:100%;}
	.idxSwiper .slogan{padding:0 4rem;}
	.idxSwiper-evlife{padding:0 4rem;}
	.idxSwiper .bn_event{margin:3rem 4rem 0;}
}

@media only screen and (max-width:1024px) {
}

@media only screen and (max-width:768px) {
}

@media only screen and (max-width:640px) {
	.idxSwiper,
	.idxSwiper .swiper-slide{height:calc( var(--vh) - 8rem);}

	/* .idxSwiper, */
	/* .idxSwiper.EndSwiper{height:fit-content!important; } */
	.idxSwiper .swiper-slide.slide5{height:auto!important;}
	.idxSwiper .swiper-slide.slide5 .slide-inner{padding-bottom:8rem;}
	/* .idxSwiper,
	.idxSwiper .swiper-slide{height:calc( var(--vh) - 15rem)!important;} */

	.idxSwiper .slide-inner{padding-top:4rem; background-position:50% 100%; background-size:calc(100% - 4rem) auto;}
	.idxSwiper .slogan{padding:0 3rem;}
	.idxSwiper .slogan > span{font-size:2rem;}
	.idxSwiper .slogan p{margin-top:1.4rem;}
	.idxSwiper .slogan p strong{font-size:4rem; line-height:5.4rem;}
	.idxSwiper .slogan p span{font-size:1.5rem; line-height:2rem; margin-top:1.4rem;}
	.idxSwiper .slogan .btn_detail{width:10rem; height:3.2rem; line-height:3.2rem; font-size:1.5rem; margin-top:3rem;}
	

	.idxSwiper-evlife{position:relative; margin-top:2rem; width:100%; padding:0;}
	.idxSwiper-evlife ul::after{content:''; position:absolute; right:0; top:0; display:block; width:8rem; height:100%; background:linear-gradient(270deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 48.65%);;}
	.idxSwiper-evlife ul{padding:0 3rem;overflow-y:scroll;}
	.idxSwiper-evlife ul li{flex:0 0 60%;}
	.idxSwiper-evlife ul li + li{margin-left:1.4rem;}

	.idxSwiper .br_pc{display:none;}
	.idxSwiper .br_mo{display:block;}

	.idxSwiper .bn_event{margin:3rem 2rem 0;}
	.idxSwiper .bn_event .bn_inner{padding:1.4rem 2rem; border-radius:1.2rem;}
	.idxSwiper .bn_event p{font-size:1.4rem; line-height:2rem; text-align:center;}
	.idxSwiper .bn_event span{margin-top:1.4rem; font-size:1rem; line-height:1.3rem; text-align:center;}
	.idxSwiper .bn_event span::before{display:none;}
	.idxSwiper .bn_sns{display:block;}
	
}


/* index swiper 대응 */
/* @media only screen and (max-width:640px) and (min-height:768px) {
    footer.footer.open{margin-top:-20rem; transition:margin .5s;}
    footer.footer.close{margin-top:0; transition:margin .5s;}
}
@media only screen and (max-width:640px) and (min-height:800px) {
    footer.footer.open{margin-top:-30rem;}
} */



@media only screen and (max-width:425px) {
	.idxSwiper,
	.idxSwiper .swiper-slide{height:calc( var(--vh) - 5.6rem);}
	
	.idxSwiper .slogan{padding:0 2rem;}

	.idxSwiper-evlife ul{padding:0 2rem;}
}

@media only screen and (max-width:375px) {
	
}

@media only screen and (max-width:320px) {
}