@charset "utf-8";

*,
*:before,
*:after{-webkit-box-sizing: border-box; box-sizing: border-box; outline:none; -webkit-tap-highlight-color:transparent !important;}

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	font-size:10px;
}
body {
	line-height: 1;
    color:#333;
	font-family: 'Apple SD Gothic', 'Spoqa Han Sans Neo', sans-serif;
	font-size:1.6rem;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, a:visited, a:hover, a:active{
	color:inherit;
	text-decoration: none;
}
input, textarea, select, button, a{
	outline:none;
}

button {cursor:pointer; background:none; padding:0; border:0 none;}

::-webkit-scrollbar{width:5px}
::-webkit-scrollbar-thumb{height:30%;background:rgba(0,0,0,.4);border-radius:10px}
::-webkit-scrollbar-track{background:rgba(33,122,244,.03)}


::-webkit-input-placeholder {color:var(--placeholder,#929292); -webkit-text-fill-color:var(--placeholder,#929292); font-size:1.9rem; font-weight:700; text-align:left;}
::placeholder {color:var(--placeholder,#929292); -webkit-text-fill-color:var(--placeholder,#929292); font-size:1.9rem; font-weight:700; text-align:left;}

input,select,textarea,button {border:0; border-radius:0; -webkit-appearance:none; appearance:none;}
button {background-color:transparent; color:inherit; cursor:pointer;}
button:hover {color:inherit;}
input::-ms-clear,
input::-ms-reveal {display:none; width:0; height:0;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {display:none;}
input[type=date]::-webkit-inner-spin-button {display:none;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-calendar-picker-indicator {display:none;}
input[type=number] {-moz-appearance:textform;}
input[type=checkbox]:focus{outline:none;}
select::-ms-expand {display:none;}
select:required:invalid {color:#A0A4AF;}
option {color:var(--fc_01, #000);}
option[value=""][disabled] {display:none;}