@charset "utf-8";

/* form */
.form_wrap {max-width:68rem; margin:10rem auto 0;}
.form_item + .form_item {margin-top:2rem;}
.form_item {display:flex; gap:1.4rem;}
.form_item .item_tit {position:relative; flex:0 0 18%; max-width:12rem; padding:1.4rem 0; color:#EFEFEF; font-size:1.6rem; line-height:2rem;}
.form_item.req .item_tit::after {content:'*'; margin-left:0.1rem; color:var(--fc_02, #50CCE0); font-size:1.6rem; line-height:1.6rem;}
.form_item .item_cont {flex:0 0 82%; min-width:calc(100% - 26rem)}
.form_item .input_wrap {position:relative; display:flex;}
.form_item .input_wrap + .input_wrap {margin-top:2rem;}
.form_item .input_wrap .btn_clear {display:block; position:absolute; top:0; right:0; width:4.8rem; height:4.8rem; background:url(../img/common/btn_input_delete.png) no-repeat center / 1.8rem; font-size:0; text-indent:-9999%; overflow:hidden;}
.form_item .msg {margin-top:0.8rem; padding-left:1.8rem; font-size:1.3rem; line-height:1.8rem;}
.form_item .msg.error {background:url(../img/common/icon_alert_red.png) no-repeat left 0.2rem / 1.2rem; color:#FF5353;}
.form_item .email_wrap {display:flex; gap:2rem; }
.form_item .email_wrap .input_wrap {width:34%; min-width:19rem;}
.form_item .email_wrap .select_box {width:calc(66% - 2rem);}
.form_item .email_wrap .select_box .btn_select {position:relative; padding-left:3.6rem;}
.form_item .email_wrap .select_box .btn_select::before {content:'@'; display:block; position:absolute; left:1.8rem; top:1.4rem;}
.form_item input:not([type="radio"]) {display:block; width:100%; padding:1.4rem 4.8rem 1.4rem 1.8rem; border-radius:0.6rem; background-color:#2C2C2C; color:#EFEFEF; font-size:1.6rem; line-height:2rem;}


/* textarea */
.textarea {width:100%; padding:1.4rem 1rem 1.4rem 1.8rem; border-radius:0.6rem; background-color:#2C2C2C; overflow:hidden;}
textarea {width:100%; height:15rem; overflow-y:auto; resize:none; padding:0; background-color:#2C2C2C; color:#EFEFEF; font-size:1.6rem; line-height:2rem;}
textarea::-webkit-scrollbar {width:0.4rem;}
textarea::-webkit-scrollbar-thumb {border-radius:0.4rem; background:#4C4C4C;}
textarea::-webkit-scrollbar-track {border-radius:0.4rem; background:var(--bg_01, #1E1E1E);}


/* checkbox */
.check_item {display:flex; justify-content:space-between; padding:1.2rem 4.8rem 1.2rem 0;}
.check_item input {position:absolute; width:1px; height:1px; font-size:0; text-indent:-9999%; overflow:hidden;}
.check_item label {display:flex; flex-wrap:wrap; align-items:center; gap:0.2rem; position:relative; width:100%; padding-left:5.2rem; color:#EFEFEF; font-size:1.8rem; line-height:2.4rem; cursor:pointer;}
.check_item label::before {content:''; display:block; position:absolute; top:0.1rem; left:1.8rem; width:2rem; height:2rem; border-radius:50%; background-color:#494949;}
.check_item input:checked + label::before {background:#494949 url(../img/common/icon_check_select.svg) no-repeat center / contain;}
.check_item label span {color:#7C7C7C;}
.check_item label span.sm {font-size:1.4rem;}
.check_item label span.req {color:var(--fc_02, #50CCE0);}

/* button */
.btn_area {margin-top:6rem; text-align:center;}
.btn_primary {min-width:12.8rem; padding:0 2rem; border-radius:4.8rem; background-color:var(--bg_02, #50CCE0); color:#fff; font-size:1.8rem; line-height:4.8rem;}


/* 제휴문의 페이지 */
.container.inquiry {padding-bottom:22rem;}
.visual_wrap {display:flex; justify-content:center; max-width:96rem; margin:0 auto;}
.visual_wrap img {width:100%;}
.terms_wrap {margin-top:6rem;}
.terms_wrap .info_txt {margin-bottom:1.6rem; color:#7C7C7C; font-size:1.6rem; line-height:2.1rem;}
.check_group {margin-top:1.4rem; padding:0 3.7rem 0 3.3rem;}
.check_group > li {position:relative;}
.check_group > li.on {border-bottom:1px solid #2C2C2C;}
.check_group .btn_more {display:block; position:absolute; top:0; right:0; width:4.8rem; height:4.8rem; background:url(../img/common/ico_arrow_right_gray.svg) no-repeat center / 2rem 2rem; transform:rotate(90deg);}
.check_group > li.on .btn_more {transform:rotate(-90deg);}
.check_group > li.on .terms_txt_wrap {display:block;}
.terms_txt_wrap {display:none; max-height:9.6rem; margin:1.2rem 0.8rem; color:#A2A2A2; font-size:1.2rem; line-height:1.6rem; overflow:auto;}
.terms_txt_wrap .txt_inner {padding-right:1.6rem;}
.terms_txt_wrap::-webkit-scrollbar {width:0.4rem;}
.terms_txt_wrap::-webkit-scrollbar-thumb {border-radius:0.4rem; background:#4C4C4C;}
.terms_txt_wrap::-webkit-scrollbar-track {border-radius:0.4rem; background:var(--bg_01, #1E1E1E);}

/* 주요 서비스 페이지 */
.container.service {padding-bottom:22rem;}
.service_wrap .box_list {max-width:62.8rem; margin:0 auto;}
.service_wrap .box_list > li {display:flex; gap:2rem;}
.service_wrap .box_list > li + li {margin-top:2rem;}
.service_wrap .box_list > li:nth-child(even) {flex-direction:row-reverse;}
.service_wrap .box_list .icon_box {flex:0 0 auto; width:15.8rem; height:15.1rem; border-radius:1.2rem; overflow:hidden;}
.service_wrap .box_list .txt_box {flex:1; margin-bottom:0.7rem; padding:3rem 1.5rem; border-radius:1.2rem; background-color:#2C2C2C; text-align:center;}
.service_wrap .box_list .txt_box .tit {color:#EFEFEF; font-size:2rem; line-height:2.6rem;}
.service_wrap .box_list .txt_box .txt {margin-top:1rem; color:#A2A2A2; font-size:1.8rem; line-height:2.4rem; word-break:keep-all;}
.service_wrap .box_list .icon_box .icon {display:flex; justify-self:center; align-items:center; width:100%; height:100%; background-repeat:no-repeat; background-size:8rem 8rem; background-position:center;}
.icon.icon_car_panel {background-color:#2B4565; background-image:url(../img/service/icon_car_panel.svg);}
.icon.icon_mileage {background-color:#204D53; background-image:url(../img/service/icon_mileage.svg);}
.icon.icon_graph {background-color:#3C3C3C; background-image:url(../img/service/icon_graph.svg);}
.icon.icon_forest {background-color:#203E1F; background-image:url(../img/service/icon_forest.svg);}
.icon.icon_grade {background-color:#272D36; background-image:url(../img/service/icon_grade.svg);}
.icon.icon_charging {background-color:#203453; background-image:url(../img/service/icon_charging.svg);}
.icon.icon_ranking {background-color:#3B3C62; background-image:url(../img/service/icon_ranking.svg);}
.icon.icon_battery_life {background-color:#212D3C; background-image:url(../img/service/icon_battery_life.svg);}

.service_wrap .box_list.wide {display:flex; justify-content:space-between; gap:4.4rem; max-width:103.6rem;}
.service_wrap .box_list.wide > li {flex-direction:column; flex:1; gap:0;}
.service_wrap .box_list.wide > li + li {margin-top:0;}
.service_wrap .box_list.wide > li:nth-child(even) {flex-direction:column; align-items:flex-end;}
.service_wrap .box_list.wide .txt_box {width:100%; max-width:45rem; margin:0 0.8rem 9.2rem;}
.service_wrap .box_list.wide .img_box {display:flex; gap:4.4rem;}
.service_wrap .box_list.wide .img_box .img_wrap {width:22.6rem; height:44.4rem;}
.service_wrap .box_list.wide .img_box .img_wrap .img_item {display:block; width:100%; height:100%; border-radius:2.8rem; background-repeat:no-repeat; background-size:contain; background-position:center; box-shadow:0 2rem 10rem rgba(0,0,0,0.6);}
.img_item.c_station_01 {background-image:url(../img/service/img_c_station_01.svg);}
.img_item.c_station_02 {background-image:url(../img/service/img_c_station_02.svg);}
.img_item.c_station_03 {background-image:url(../img/service/img_c_station_03.svg);}
.img_item.c_station_04 {background-image:url(../img/service/img_c_station_04.svg);}








/* battery */
.battery .certification{margin-bottom: 10rem;}
.battery .certification .img_wrap{text-align: center; margin-bottom: 6rem;}
.battery .certification .img_wrap .card{display: inline-block; width: 16.8rem; height: 26.4rem; background-size: contain; background-repeat: no-repeat;}
.battery .certification .img_wrap .card1{background-image: url(../img/battery/battery_card1.png);}
.battery .certification .img_wrap .card2{margin-left: 5rem; background-image: url(../img/battery/battery_card2.png);}
.battery .certification .list_wrap ul{display: flex; flex-wrap: wrap; justify-content: center; text-align: center;}
.battery .certification .list_wrap li{margin-bottom: 0; width: 20rem;}
.battery .certification .list_wrap li+li{margin-left: 2rem;}
.battery .certification .list_wrap .icon{display: block; margin: 0 auto; width: 7rem; height: 7rem;}
.battery .certification .list_wrap .icon.results{background-image: url(../img/battery/battery_icon1.svg);}
.battery .certification .list_wrap .icon.performance{background-image: url(../img/battery/battery_icon2.svg);}
.battery .certification .list_wrap .icon.check{background-image: url(../img/battery/battery_icon3.svg);}
.battery .certification .list_wrap .icon.diagnosis{background-image: url(../img/battery/battery_icon4.svg);}
.battery .certification .list_wrap p{margin-top: 1.4rem; color: #FFFFFF;}

.battery .img_mockup{width: 100vw; height: 68rem; margin: 0 0 12rem -6rem; background: #2C2C2C; background-image: url(../img/battery/battery_mockup_pc.svg); background-position: center; background-repeat: no-repeat; background-size: contain;}





/* guide */
.guide .event{width: 96rem; height: 15rem; margin: 0 auto; padding: 3rem 0; background: var(--bg_02, #50CCE0); border-radius: 2rem; text-align: center; color: #FFFFFF; font-weight: 700; font-size: 3.2rem; line-height: 4.5rem;}

.guide .checkup{width: 96rem; margin: 6rem auto 22rem; padding: 6rem 0; background: #2C2C2C; border-radius: 2rem; text-align: center;}
.guide .checkup .car{display: block; margin: 0 auto; width: 64rem; height: 34.8rem; background-image: url(../img/guide/guide_car.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.guide .checkup h3{margin: 4rem 0; font-weight: 700; font-size: 3.2rem; color: var(--fc_02, #50CCE0);}
.guide .checkup p{font-size: 2.4rem; line-height: 147%; color: #A2A2A2;}
.guide .checkup .notice{margin: 4rem 0 6rem; font-size: 1.6rem; line-height: 167%; color: #7C7C7C;}
.guide .checkup .notice .danger{display: inline-block; width: 2rem; height: 2rem; vertical-align: middle; margin: 0 0.6rem; background-image: url(../img/guide/guide_notice.svg);}
.guide .checkup button{display: flex; align-items: center; margin: 0 auto; padding: 1.2rem 2rem; background: #FFFFFF; border-radius: 2.5rem; font-weight: 700; font-size: 1.8rem; color: var(--fc_01, #1E1E1E);}
.guide .checkup button .arrow{width: 1.5rem; height: 0.9rem; margin-left: 0.85rem; vertical-align: middle; background-image: url(../img/guide/guide_arrow.svg); background-repeat: no-repeat; background-size: contain;}

.guide .list_wrap{width: 100vw; margin: 0 0 22rem -6rem; padding: 10rem 0; background: #2C2C2C;}
.guide .list_wrap ul{display: flex; flex-direction: column; align-items: center;}
.guide .list_wrap li{width: 96rem; padding: 0.2rem 6rem; background: url(../img/guide/guide_check_pc.svg) no-repeat;}
.guide .list_wrap li+li{margin-top: 4rem;}
.guide .list_wrap strong{font-weight: 700; font-size: 2.4rem; color: var(--fc_02, #50CCE0);}
.guide .list_wrap p{margin-top: 1rem; font-size: 1.8rem; line-height: 147%; color: #EFEFEF;}

.guide .video_wrap{width: 60rem; height: 34rem; margin: 0 auto 22rem;}
.guide .video_wrap video{width: 100%;}


/* guide popup */
.pop_up {display: none; position: fixed; top: 0; left: 0; width: 100vw; height:var(--vh); z-index: 20;}
.pop_up.open{display:block;}
.pop_up .dimmed{z-index: 1; cursor: pointer;}
.pop_con{position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 37.5rem; height: 80%; max-height: 89.3rem; background: #2C2C2C; border-radius: 2rem; overflow: hidden; z-index: 2;}
.pop_con .title{margin: 6rem 0 2.4rem; padding: 0 2rem;}
.pop_con .title h3{margin-bottom: 1.2rem; text-align: center; font-size: 2.8rem; color: #EFEFEF; line-height: 3.4rem;}
.pop_con .title p{font-size: 1.5rem; color: #FFC045; padding: 0.4rem 0 0 2.4rem; vertical-align: bottom; line-height: 2rem; background: url(../img/guide/guide_tooltip.svg) no-repeat; background-position: left center;}
.pop_con .pop_list{width: 100%; max-height: 71.2rem; height: calc(100% - 14.4rem); overflow-y: scroll; padding-bottom: 3.7rem;}
.pop_con .list_item p{padding: 0.8rem 2rem; background: rgba(57, 57, 57, 0.5); font-size: 1.3rem; color: #7C7C7C; line-height: 1.8rem;}
.pop_con .list_item ul{padding: 1.4rem 3.5rem 2rem; background: #2C2C2C; font-size: 1.6rem; color: #EFEFEF; line-height: 1.8rem;}
.pop_con .list_item li{cursor: pointer;}
.pop_con .list_item li+li{margin-top: 2.8rem;}
.pop_up button{position: fixed; top: max(11%, calc(50% - 43.65rem)) ; right: calc(50% - 2rem/2 - 16.7rem); width: 4rem; height: 4rem; background: url(../img/guide/guide_close.svg) no-repeat center center; z-index: 3;}








@media only screen and (max-width:1280px) {
    .service_wrap .box_list.wide {flex-direction:column; gap:0;}
    .service_wrap .box_list.wide > li {align-items:center;}
    .service_wrap .box_list.wide > li:nth-child(even) {align-items:center;}
    .service_wrap .box_list.wide > li + li {margin-top:11.6rem;}
    .service_wrap .box_list.wide .txt_box {margin:0 auto 2.6rem;}
}

@media only screen and (max-width:1024px) {
    /* battery */
    .battery .certification{margin-bottom: 7.8rem;}
    .battery .certification .img_wrap .card{width: 13rem; height: 20.6rem; background-size: contain; background-repeat: no-repeat;}
    .battery .certification .img_wrap .card2{margin-left: 3.5rem}
    .battery .certification .list_wrap li{margin-bottom: 4.2rem; width: calc(50% - 1.5rem);}
    .battery .certification .list_wrap li+li{margin-left: 0;}
    .battery .certification .list_wrap li div{width: 14rem;}
    .battery .certification .list_wrap li:nth-child(odd){display: flex; flex-direction: column; align-items: end;}
    .battery .certification .list_wrap li:nth-child(even){margin-left: 1.5rem;}

    .battery .img_mockup{height: 83rem; margin: 0 0 0 -2rem; background-image: url(../img/battery/battery_mockup_mo.png);}


    /* guide */
    .guide .event{width: 100%; height: 8rem; padding: 2rem 0; font-weight: 400; font-size: 1.4rem; line-height: 2rem;}

    .guide .checkup{width: 100%; margin: 2rem 0 12rem;}
    .guide .checkup .car{width: 100%; max-width: 33.5rem; height: calc(100vw * 182 / 375); max-height: 18.2rem;}
    .guide .checkup h3{margin: 4rem 0 2rem; font-weight: 400; font-size: 2.4rem;}
    .guide .checkup p{font-size: 1.5rem;}
    .guide .checkup .notice{margin: 2rem 0 4rem; font-size: 1.2rem;}
    .guide .checkup .notice .danger{display: block; margin: 0.2rem auto 0;}
    .guide .checkup button{padding: 0 1.2rem; font-weight: 400; font-size: 1.5rem; line-height: 3.2rem;}
    .guide .checkup button .arrow{width: 1.2rem; height: 0.8rem; margin-left: 0.6rem; transform: rotate(-90deg);}

    .guide .list_wrap{margin: 0 0 12rem -2rem; padding: 4rem 0;}
    .guide .list_wrap ul{width: calc(100% - 4rem);}
    .guide .list_wrap li{width: 29.7rem; padding: 0.2rem 0 0 4rem; background: url(../img/guide/guide_check_mo.svg) no-repeat;}
    .guide .list_wrap li+li{margin-top: 2rem;}
    .guide .list_wrap strong{font-weight: 400; font-size: 2rem;}
    .guide .list_wrap p{margin-top: 0.8rem; font-size: 1.5rem;}

    .guide .video_wrap{position:relative; width: 100%; height: auto; margin: 0 auto 7rem; padding-bottom:56.71%;}
    .guide .video_wrap video{position:absolute; top:50%; left:50%; width: 100%; transform:translate(-50%, -50%);}

    .pop_con{width: 100%; height: 100%; max-height: var(--vh); border-radius: 0; background: var(--bg_01, #1E1E1E);}
    .pop_con .title{margin-top: 5.6rem;}
    .pop_con .pop_list{height: calc(100% - 15rem); max-height: 100%;}
    .pop_con .list_item ul{background: var(--bg_01, #1E1E1E); font-size: 1.3rem;}
    .pop_up button{top: 0.8rem; right: 1rem; background: url(../img/guide/guide_close_mo.svg) no-repeat center / contain;}


    /* form */
    .form_wrap {max-width:100%; margin:5.2rem auto 0;}
    .form_item {flex-direction:column; gap:0;}
    .form_item .item_tit {flex:0 0 100%; max-width:100%; padding:0.8rem 0; font-size:1.3rem; line-height:1.8rem;}
    .form_item.req .item_tit::after {content:''; display:inline-block; position:absolute; top:0.8rem; width:0.4rem; height:0.4rem; margin-left:0.2rem; border-radius:50%; background-color:var(--bg_02, #50CCE0);}
    .form_item .input_wrap + .input_wrap {margin-top:0.8rem;}
    .form_item .input_wrap .btn_clear {width:4.6rem; height:5rem;}
    .form_item input:not([type="radio"]) {padding:1.5rem 4.6rem 1.5rem 1.4rem; font-size:1.5rem; line-height:2rem;}
    .form_item input::placeholder {font-size:1.5rem; line-height:2rem;}
    .form_item .email_wrap {gap:1.2rem;}
    .form_item .email_wrap .input_wrap {width:35%; min-width:12rem;}
    .form_item .email_wrap .select_box {width:calc(65% - 1.2rem)}
    .form_item .email_wrap .select_box .btn_select {padding-left:3.2rem;}
    .form_item .email_wrap .select_box .btn_select::before {left:1.4rem; top:1.5rem;}


    /* textarea */
    .textarea {padding:1.5rem 1rem 1.5rem 1.4rem;}
    textarea {font-size:1.5rem; line-height:2rem;}
    textarea::placeholder {font-size:1.5rem; line-height:2rem;}

    /* checkbox */
    .check_item {padding:1rem 0;}
    .check_item label {padding-left:2.8rem; font-size:1.5rem; line-height:2rem;}
    .check_item label::before {left:0; top:-0.1rem;}
    .check_item label span.sm {font-size:1.2rem; line-height:2rem;}
    .check_group .btn_more {flex:0 0 4rem; width:4rem; height:4rem; background:url(../img/common/ico_arrow_right_gray_sm.svg) no-repeat center / 1.6rem 1.6rem;}
    .check_group .check_item {padding:1.1rem 4rem 1.1rem 0;}
    .check_group .check_item label {font-size:1.4rem; line-height:1.8rem;}
    .check_group .check_item label::before {left:0; top:-0.2rem;}

    /* button */
    .btn_area {margin-top:2.4rem;}
    .btn_primary {min-width:10rem; border-radius:3.2rem; font-size:1.5rem; line-height:3.2rem;}


    /* 제휴문의 페이지 */
    .container.inquiry {padding-bottom:7rem;}
    .check_group {margin-top:0.4rem; padding:0;}
    .terms_wrap {margin-top:2.4rem;}
    .terms_wrap .info_txt {margin-bottom:3rem; font-size:1.5rem; line-height:2rem;}
    .terms_txt_wrap {max-height:8rem; margin:0 1.2rem 1.6rem;}

    /* 주요 서비스 페이지 */
    .container.service {padding-bottom:7rem;}
    .service_wrap .box_list > li {gap:1.5rem;}
    .service_wrap .box_list > li + li {margin-top:1.4rem;}
    .service_wrap .box_list .icon_box {width:10.2rem; height:auto;}
    .service_wrap .box_list .txt_box {display:flex; flex-direction:column; justify-content:center; min-height:11.6rem; margin-bottom:0; padding:2rem;}
    .service_wrap .box_list .txt_box .tit {font-size:1.4rem; line-height:2rem;}
    .service_wrap .box_list .txt_box .txt {margin-top:0.8rem; font-size:1.2rem; line-height:1.6rem;}
    .service_wrap .box_list.wide .txt_box {max-width:33.5rem;}
    .service_wrap .box_list.wide .img_box {justify-content:center; gap:2.7rem; width:100%;}
    .service_wrap .box_list.wide .img_box .img_wrap {width:50%; max-width:13.8rem; height:27.4rem;}
    .icon.icon_car_panel {background-color:#2B4565; background-image:url(../img/service/icon_car_panel_mo.svg);}
    .icon.icon_mileage {background-color:#204D53; background-image:url(../img/service/icon_mileage_mo.svg);}
    .icon.icon_graph {background-color:#3C3C3C; background-image:url(../img/service/icon_graph_mo.svg);}
    .icon.icon_forest {background-color:#203E1F; background-image:url(../img/service/icon_forest_mo.svg);}
    .icon.icon_grade {background-color:#272D36; background-image:url(../img/service/icon_grade_mo.svg);}
    .icon.icon_charging {background-color:#203453; background-image:url(../img/service/icon_charging_mo.svg);}
    .icon.icon_ranking {background-color:#3B3C62; background-image:url(../img/service/icon_ranking_mo.svg);}
    .icon.icon_battery_life {background-color:#212D3C; background-image:url(../img/service/icon_battery_life_mo.svg);}
    .service_wrap .box_list.wide .img_box .img_wrap .img_item {border-radius:1.5rem;}
    .img_item.c_station_01 {background-image:url(../img/service/img_c_station_01_mo.png);}
    .img_item.c_station_02 {background-image:url(../img/service/img_c_station_02_mo.png);}
    .img_item.c_station_03 {background-image:url(../img/service/img_c_station_03_mo.png);}
    .img_item.c_station_04 {background-image:url(../img/service/img_c_station_04_mo.png);}
}