@charset "utf-8";

:root{
    --fc_01: #1E1E1E; 
}

/* layout */
.container{overflow:hidden;}
.section{padding:12rem 6rem 0;}

/* etc */
.hidden {position:relative; display:block; height:1px; width:1px; border:0; clip:rect(1px, 1px, 1px, 1px); clip-path:inset(50%); word-break:initial; word-wrap:initial; z-index:-1; overflow:hidden;}
.dimmed {position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6); filter:alpha(opacity=60); touch-action:none; z-index:100;}
.no_scroll,
.no_scroll_idx {overflow:hidden;}