@charset "utf-8";

/* form */
.form_wrap {width:100%; max-width:68rem; margin:0 auto;}
.form_item + .form_item {margin-top:1.4rem;}
.form_item {display:flex; gap:1.4rem;}
.form_item .item_tit {position:relative; flex:0 0 18%; max-width:12rem; padding:1.4rem 0; color:#1E1E1E; font-size:1.6rem; line-height:2rem;}
.form_item .item_cont {flex:auto; display:flex; flex-wrap:wrap; gap:1.4rem;}
.form_item .input_wrap {position:relative; display:flex; flex:auto; padding:0 5.2rem 0 1.4rem; border:1px solid #E1E1E1; border-radius:0.6rem; background-color:#fff; overflow:hidden;}
.form_item .input_wrap + .input_wrap {margin-top:2rem;}
.form_item .input_wrap .btn_clear {display:block; position:absolute; top:-0.1rem; right:0.4rem; width:4.8rem; height:4.8rem; background:url(../img/common/btn_input_delete.svg) no-repeat center / 1.5rem 1.5rem; font-size:0; text-indent:-9999%; overflow:hidden;}
.form_item .msg {position:absolute; top:1.3rem; right:1.7rem; font-size:1.6rem; line-height:2rem;}
.form_item .msg.error {color:#FF5757;}
.form_item .email_wrap {display:flex; gap:2rem; }
.form_item .email_wrap .input_wrap {width:34%; min-width:19rem;}
.form_item .email_wrap .select_box {width:calc(66% - 2rem);}
.form_item .email_wrap .select_box .btn_select {position:relative; padding-left:3.6rem;}
.form_item .email_wrap .select_box .btn_select::before {content:'@'; display:block; position:absolute; left:1.8rem; top:1.4rem;}
.form_item input:not([type="radio"]):not([type="file"]) {display:block; width:100%; padding:1.3rem 0; color:#1E1E1E; font-size:1.6rem; line-height:2rem;}
.form_item .btn_form {min-width:13rem; padding:1.3rem 1.7rem; border:1px solid #E1E1E1; border-radius:0.6rem; background-color:#fff; color:#1E1E1E; font-size:1.6rem; line-height:2rem;}
.form_item .btn_form.gray {border:none; background-color:#777; color:#fff;}
.form_item .file_wrap {display:flex; gap:1.4rem; width:100%;}
.form_item .file_wrap input.file_name {padding:0 1.4rem; border:1px solid #E1E1E1; border-radius:0.6rem; background-color:#fff; overflow:hidden;}
input[type="file"] {position:absolute; width:0; height:0; padding:0; font-size:0; text-indent:-9999%; overflow:hidden;}
input[type="file"] + label {min-width:13rem; padding:0 1.7rem; border:1px solid #E1E1E1; border-radius:0.6rem; background-color:#fff; color:#1E1E1E; font-size:1.6rem; line-height:5rem; text-align:center; cursor:pointer;}

/* checkbox */
.check_item {display:flex; justify-content:space-between;}
.check_item input {position:absolute; width:1px; height:1px; font-size:0; text-indent:-9999%; overflow:hidden;}
.check_item label {display:flex; flex-wrap:wrap; align-items:center; gap:0.2rem; position:relative; width:100%; padding-left:2.5rem; color:#777; font-size:1.4rem; line-height:2.4rem; cursor:pointer;}
.check_item label::before {content:''; display:block; position:absolute; top:0.3rem; left:0rem; width:1.6rem; height:1.6rem; border:1px solid #E1E1E1; background-color:#fff;}
.check_item input:checked + label::before {border:none; background:#777 url(../img/common/ico_check.svg) no-repeat center / 0.9rem;}

/* button */
.btn_confirm_wrap {display:flex; flex-wrap:wrap; justify-content:center; width:100%; margin-top:4rem;}
.btn_primary {display:inline-block; width:100%; max-width:40.2rem; border-radius:0.6rem; background-color:#1E1E1E; color:#fff; font-size:1.6rem; font-weight:700; line-height:4.8rem; text-align:center;}
.btn_links_wrap {display:flex; justify-content:center; align-items:center;}
.btn_confirm_wrap .btn_links_wrap {margin-top:2rem;}
.btn_link {display:inline-block; padding:0 1.4rem; color:#777; font-size:1.4rem; font-weight:500; line-height:2rem;}
.btn_link + .btn_link {position:relative; margin-left:1px;}
.btn_link + .btn_link::before {content:''; display:block; position:absolute; top:0.3rem; left:0; width:1px; height:1.4rem; border-left:1px solid #E1E1E1;}

/* [login.html] 로그인 */
.container.login {height:calc(100vh - 6rem);}
.login .check_item {margin-top:1.2rem;}
.login .info_txt {margin-top:4rem; color:#B4B4B4; font-size:1.4rem; line-height:2.4rem;}

/* [join_guide.html] 약관동의 */
.terms_wrap + .terms_wrap {margin-top:3.8rem;}
.terms_wrap .term_tit {display:flex; flex-wrap:wrap; align-items:center; color:#1E1E1E; font-size:1.6rem; font-weight:500; line-height:2.4rem;}
.terms_wrap .term_tit > span {margin-left:0.2rem; font-size:1.4rem; font-weight:400; line-height:2.4rem;}
.terms_wrap .terms_txt_wrap {height:11.6rem; margin-top:0.8rem; padding:1.1rem; border:1px solid #E1E1E1; overflow-y:auto; color:#777; font-size:1.4rem; line-height:2rem;}
.terms_wrap .radio_wrap {margin-top:0.8rem;}

/* [join_ok.html] 가입완료 */
.join .section.join_ok {display:flex; flex-direction:column; justify-content:center; min-height:calc(100vh - 15.6rem); padding:5.2rem 5.9rem;}
.join_comp_wrap {margin-bottom:8.4rem;}
.join_comp_wrap .icon {display:block; width:6.2rem; height:6.2rem; margin:0 auto;}
.join_comp_wrap .icon.icon_check {background:url(../img/common/ico_check_mint.svg) no-repeat center / contain;}
.join_comp_wrap .comp_msg_wrap {margin-top:4rem; font-size:2rem; line-height:3rem; text-align:center;}
