@charset "utf-8";

body.index{min-width:192rem;}
body.index .container{display:flex; align-items:flex-start; justify-content:space-between; box-sizing:border-box;}

.car_list_wrap{width:50%;}
.car_info_wrap{width:calc(50% - 4.8rem)}

.content_box{background:#fff; box-sizing:border-box; border-radius:1rem; box-shadow:0px 0px 30px rgba(0, 0, 0, 0.05); padding:3rem;}
.car_info_wrap .content_box{padding:3rem 4rem 0;}

/* 보유 차량 리스트 */
.car_list_status{display:flex; align-items:center; justify-content:space-between;}
.car_list_status h3,
.car_list_status .total{font-size:1.6rem; font-weight:700; line-height:3rem;}
.car_list_status h3{padding-left:4.6rem; background:url(../img/index/ico_carlist.png) 0 50% no-repeat; background-size:3.6rem auto;}
.car_list_status .total{margin-right:auto;}
.car_list_status .total span{color:var(--fc_03, #FF5353);}
.car_list_status dl{display:flex; align-items:center; font-size:1.4rem; color:#a2a2a2;}
.car_list_status dl dd{display:flex; align-items:center; font-weight:700; padding-left:1rem;}
.car_list_status dl dd span + span{margin-left:1.2rem;}
.car_list_status dl dd .state0{color:var(--fc_03, #FF5353);}
.car_list_status dl dd .state1{color:var(--fc_04, #FFC045);}
.car_list_status dl dd .state2{color:var(--fc_05, #7EE050);}

.car_list_table{margin-top:2.3rem;}
.car_list_table table{width:100%; border-top:1px solid #1e1e1e;}
.car_list_table table caption{display:none;}
.car_list_table table thead th,
.car_list_table table thead td{height:4.8rem;}
.car_list_table table tbody th,
.car_list_table table tbody td{height:5.4rem;}
.car_list_table table th,
.car_list_table table td{padding:0 0.2rem; font-size:1.4rem; line-height:1.6rem; text-align:center; font-weight:normal; vertical-align:middle; border-bottom:1px solid #E1E1E1;}
.car_list_table .btn_detail{width:4.6rem; height:2.2rem; line-height:2.3rem; font-size:1.4rem; color:#7a7a7a; border-radius:2.2rem; background:#d9d9d9;}

.battery_state{text-align:center;}
.battery_state .state{font-size:1.4rem; color:#000;}
.battery_state .graph{display:block; width:6rem; height:0.5rem; background:#e1e1e1; border-radius:0.5rem; margin:0.4rem auto 0;}
.battery_state .graph .per{display:block; height:100%; border-radius:0.5rem; background:var(--bg_03, #FF5353);}
.battery_state.state0 .per{background:var(--bg_03, #FF5353);}
.battery_state.state1 .per{background:var(--bg_04, #FFC045);}
.battery_state.state2 .per{background:var(--bg_05, #7EE050);}

.chk_day{display:flex; align-items:center; justify-content:center;}
.chk_day span{display:flex; align-items:center; justify-content:center;}
.chk_day span + span::before{content:''; display:inline-block; width:1px; height:1rem; background:#c7c7c7; margin:0 0.4rem;}

.badge{display:inline-block; height:2.2rem; font-size:1.4rem; color:#fff; line-height:2.3rem; padding:0 1.2rem; border-radius:2.2rem; background:#9A9A9A;}
.badge.parking{background:#9A9A9A;}
.badge.drive{background:#55A8F4;}
.badge.charging{background:var(--bg_04, #FFC045);}
.badge.quickcharging{background:#50CCE0;}


.pagination{margin:3rem 0 0; display:flex; align-items:center; justify-content:flex-end;}
.pagination .state{display:flex; align-items:center; font-size:1.4rem; color:#000;}
.pagination .state .total::before{content:'of'; display:inline-block; margin:0 1rem;}
.pagination .navigation{display:flex; align-items:center; margin-left:4.8rem;}
.pagination .navigation button{width:2rem; height:2rem; background:url(../img/common/page_next.png) 0 0 no-repeat; background-size:100% auto;}
.pagination .navigation button[disabled]{opacity:0.4;}
.pagination .navigation button + button{margin-left:3.8rem;}
.pagination .navigation .btn_prev{transform:rotate(180deg);}


/* tab */
.wrap-tab-list {position:relative; display:flex; align-items:center; justify-content:space-between; margin:0.5rem auto 0; overflow:hidden; z-index:0;}
.wrap-tab-list::after {content:''; display:block; position:absolute; left:0; right:0; bottom:0; width:100%; height:1px; background-color:#E1E1E1;}
.tab-list {flex:1 1 50%; position:relative; z-index:0;}
.tab-list .tab-button {display:block; width:100%; height:8rem; line-height:8rem; color:#7A7A7A; font-size:1.6rem; text-align:center; box-sizing:border-box;}
.tab-list.active {z-index:10;}
.tab-list.active .tab-button {color:var(--fc_01, #1E1E1E); font-weight:700;}
.tab-list.active .tab-button::after {content:''; display:block; position:absolute; bottom:0; left:0; right:0; width:100%; height:0.6rem; background-color:var(--bg_01, #1E1E1E);}
.wrap-tab-contents {width:100%;}
.wrap-tab-contents .tab-contents {width:100%;}

/* 전체 차량 요약 정보 */
.car_sum_ttl{display:flex; align-items:flex-start; justify-content:space-between; height:7rem; padding:2rem 0 0; font-size:1.4rem; color:#a2a2a2; line-height:2rem; box-sizing:border-box;}
.car_sum_ttl .period{padding-left:2.4rem; background:url(../img/index/ico_info.png) 0 50% no-repeat; background-size:2rem auto;}
.car_sum_ttl .period span{color:#3C3C3C; font-weight:700;}

.car_sum_ttl .form_check{position:relative;}
.car_sum_ttl .form_check input{position:absolute; left:0; top:0; width:1px; height:1px;}
.car_sum_ttl .form_check label{position:relative; display:block; padding-left:2.6rem; cursor:pointer;}
.car_sum_ttl .form_check label::before{content:''; position:absolute; left:0; top:1px; display:block; width:1.6rem; height:1.6rem; box-sizing:border-box; background-color:#fff; background-position:50% 50%; background-repeat: no-repeat; background-size:1.6rem auto; border:1px solid #e1e1e1;}
.car_sum_ttl .form_check input:checked + label::before{background-image:url(../img/index/ico_checked.png);}


.car_sum_wrap{display:flex; flex-wrap:wrap; align-items:center; justify-content: space-between;}
.car_sum_wrap .content_box{flex:0 0 calc(50% - 0.8rem); overflow:hidden;}
.car_sum_wrap .content_box + .content_box{margin-left:1.6rem;}
.car_sum_wrap .content_box.wide{flex: 0 0 100%; display:flex; align-items:flex-start; justify-content:space-between; margin:1.6rem 0 0;}
.car_sum_wrap .content_box.wide .col{flex:0 0 calc(50% - 4.5rem);}

.car_sum_wrap h4.ttl{font-size:1.8rem; line-height:2.6rem; font-weight:500; padding-left:3.2rem; background:url(../img/index/ico_cost.png) 0 50% no-repeat; background-size:2.6rem auto;}
.car_sum_wrap .sum_cost h4.ttl{background-image:url(../img/index/ico_cost.png)}
.car_sum_wrap .sum_drive h4.ttl{background-image:url(../img/index/ico_guage.png)}
/* .car_sum_wrap .sum_stress h4.ttl{background:none; padding-left:0;} */
.car_sum_wrap .sum_stress h4.ttl{background-image:url(../img/index/ico_stress.png)}
.car_sum_wrap .sum_average h4.ttl{background-image:url(../img/index/ico_average.png)}
.car_sum_wrap .sum_habit h4.ttl{background-image:url(../img/index/ico_drive.png)}
.car_sum_wrap .sum_charging h4.ttl{background-image:url(../img/index/ico_charging.png)}

.car_sum_wrap .car_sum_cont{padding-top:1.5rem; text-align:center;}
.car_sum_wrap .car_sum_cont img{width:100%; max-width:35.5rem; max-height:18.3rem;}
.car_sum_wrap .sum_stress .car_sum_cont img{max-width:18.8rem; max-height:auto;}


/* 전체 차량 위치 정보 */
.car_info_wrap .car_location_ttl{display:flex; align-items:flex-start; justify-content:space-between; height:7rem; padding:2rem 0 0; font-size:1.4rem; color:#a2a2a2; line-height:2rem; box-sizing:border-box;}
.car_info_wrap .car_location_ttl .time_info{display:flex; align-items:center;}
.car_info_wrap .car_location_ttl .btn_refresh{margin-left:0.4rem; width:2rem; height:2rem; background:url(../img/index/btn_refresh.png) 0 0 no-repeat; background-size:100% auto;}
.car_info_wrap .car_location_ttl .btn_refresh.click{transform:rotate(360deg); transition:transform 1s;}
.car_info_wrap .car_location img {width: 100%;}














.myChart_wrap{position:relative; width:347px; height:179px; margin:0 auto; padding-bottom:20px;}
.myChart_wrap #myChart{margin-left:-1.8rem; width:347px;}
.myChart_wrap .data_label{position:absolute; left:0; bottom:0;}
.myChart_wrap .data_label ul{display:flex; align-items:center; justify-content:flex-start;}
.myChart_wrap .data_label ul li{display:flex; align-items:center; font-size:1rem; color:#bbb; line-height:1.4rem;}
.myChart_wrap .data_label ul li + li{margin-left:1.2rem;}
.myChart_wrap .data_label ul li:before{content:''; display:block; width:1rem; height:1rem; border-radius:1rem; margin-right:0.4rem; background:#C3C3C3;}
.myChart_wrap .data_label ul li:nth-child(2):before{background:none; width:1.8rem; height:1.1rem; border-radius:0; background:url(../img/index/ico_graph.png) 50% 50% no-repeat; }
.myChart_wrap .data_label ul li:nth-child(3):before{background:#B1A4FF;}
.myChart_wrap .data_info{position:absolute; right:0; bottom:0; font-size:1rem; color:#bbb; line-height:1.2rem;}
.myChart_wrap .data_info::before{content:''; position:absolute; left:0; top:50%; transform:translate(-0.7rem, -50%); display:block; width:0.3rem; height:0.3rem; border-radius:0.3rem; background:#d9d9d9;}

.myChart_wrap2{position:relative; width:347px; height:179px; margin:0 auto; padding-bottom:20px;}
.myChart_wrap2 #myChart2{margin-left:-1.8rem; width:347px;}
.myChart_wrap2 .data_label{position:absolute; left:0; bottom:0;}
.myChart_wrap2 .data_label ul{display:flex; align-items:center; justify-content:flex-start;}
.myChart_wrap2 .data_label ul li{display:flex; align-items:center; font-size:1rem; color:#bbb; line-height:1.4rem;}
.myChart_wrap2 .data_label ul li + li{margin-left:1.2rem;}
.myChart_wrap2 .data_label ul li:before{content:''; display:block; width:1rem; height:1rem; border-radius:1rem; margin-right:0.4rem; background:#E9E9E9;}
.myChart_wrap2 .data_label ul li:nth-child(2):before{background:#c3c3c3;}
.myChart_wrap2 .data_label ul li:nth-child(3):before{background:none; width:1.8rem; height:1.1rem; border-radius:0; background:url(../img/index/ico_graph.png) 50% 50% no-repeat; }
.myChart_wrap2 .data_label ul li:nth-child(4):before{background:#009AFE;}
.myChart_wrap2 .data_info{position:absolute; right:0; bottom:0; font-size:1rem; color:#bbb; line-height:1.2rem;}
.myChart_wrap2 .data_info::before{content:''; position:absolute; left:0; top:50%; transform:translate(-0.7rem, -50%); display:block; width:0.3rem; height:0.3rem; border-radius:0.3rem; background:#d9d9d9;}


/* 평균 스트레스 관리 : chart_guage_wrap */
.chart_guage_wrap {position:relative; width:190px; height:190px; margin:0 auto;}
.chart_guage_wrap .circle_progress {transform:rotate(-90deg)}
/* .chart_guage_wrap .bg{background:url(../img/index/circle_progress_bg.svg) 50% 50% no-repeat; background-size:100% auto;} */
.chart_guage_wrap .frame,
.chart_guage_wrap .bar {fill: none; stroke-width: 3rem; stroke-linecap:round;}
.chart_guage_wrap .frame {stroke:#E3E3E3;}
.chart_guage_wrap .bar {animation:guageBar 1.2s reverse cubic-bezier(0.445, 0.05, 0.055, 0.95);}

.chart_guage_wrap .info {position:absolute; left:50%; top:50%; width:100%; transform:translate(-50%, -55%); text-align:center;}
.chart_guage_wrap .info .value {display:block; line-height:4rem; font-size:1.4rem;}
.chart_guage_wrap .info .value strong{font-size:2.8rem; font-weight:700; color:#1e1e1e;}
.chart_guage_wrap .info .txt {display:block; font-size:1rem; color:#7C7C7C; margin-top:-0.5rem;}
.chart_guage_wrap .info .txt strong{color:#FE8B8A;}
.chart_guage_wrap .info .txt .up{color:#FE8B8A;}
.chart_guage_wrap .info .txt .down{color:#50CCE0;}
@keyframes guageBar {
    to {stroke-dashoffset: 628.319;}
}

/* 평균전비 */
.chart_bar_horizontal_wrap{position:relative; width:347px; height:179px; margin:0 auto;}
.chart_bar_horizontal_wrap .data_label{position:absolute; left:0; bottom:0;}
.chart_bar_horizontal_wrap .data_label ul{display:flex; align-items:center;}
.chart_bar_horizontal_wrap .data_label ul li{display:flex; align-items:center; font-size:1rem; color:#bbb; line-height:1.4rem;}
.chart_bar_horizontal_wrap .data_label ul li + li{margin-left:1.2rem;}
.chart_bar_horizontal_wrap .data_label ul li:before{content:''; display:block; width:1rem; height:1rem; border-radius:1rem; margin-right:0.4rem; background:#C3C3C3;}
.chart_bar_horizontal_wrap .data_label ul li:nth-child(2):before{background:#F8BA72;}
.chart_bar_horizontal_wrap .data_wrap ul li{display:flex; align-items:center; justify-content:flex-start;}
.chart_bar_horizontal_wrap .data_wrap ul li + li{margin-top:1rem;}
.chart_bar_horizontal_wrap .data_wrap ul li .label{flex:0 0 2.6rem; font-size:1rem; color:#bbb; line-height:1.4rem; text-align:right; margin-right:2rem;}
.chart_bar_horizontal_wrap .data_wrap ul li .graph{flex:0 0 calc(100% - 6.4rem)}
.chart_bar_horizontal_wrap .data_wrap ul li .guage{position:relative; display:block; height:1.8rem; border-radius:0 1.8rem 1.8rem 0; background: linear-gradient(-90deg, #C4C4C4 0%, rgba(195, 195, 195, 0.2) 100%); animation:horizontalBar 1.2s reverse cubic-bezier(0.445, 0.05, 0.055, 0.95);}
.chart_bar_horizontal_wrap .data_wrap ul li  .data{position:absolute; left:100%; top:0; display:block; padding-left:1rem; font-size:1rem; color:#656565; line-height:1.8rem;}
.chart_bar_horizontal_wrap .data_wrap ul li:last-child .guage{background: linear-gradient(-90deg, #F8BA72 0%, rgba(248, 186, 114, 0.2) 100%);
}
.chart_bar_horizontal_wrap .data_wrap ul li:last-child .label{color:#1E1E1E;}
.chart_bar_horizontal_wrap .data_wrap ul li:last-child .data{color:#FF9D2C;}
@keyframes horizontalBar {
    to {width:0%}
}



/* 평균주행거리 */
.chart_bar_vertical_wrap{position:relative; width:344px; height:157px; margin:20px auto 0;}
.chart_bar_vertical_wrap .data_label{position:absolute; left:0; bottom:0;}
.chart_bar_vertical_wrap .data_label ul{display:flex; align-items:center;}
.chart_bar_vertical_wrap .data_label ul li{display:flex; align-items:center; font-size:1rem; color:#bbb; line-height:1.4rem;}
.chart_bar_vertical_wrap .data_label ul li + li{margin-left:1.2rem;}
.chart_bar_vertical_wrap .data_label ul li:before{content:''; display:block; width:1rem; height:1rem; border-radius:1rem; margin-right:0.4rem; background:#C3C3C3;}
.chart_bar_vertical_wrap .data_label ul li:nth-child(2):before{background:#24D3C9;}
.chart_bar_vertical_wrap .data_wrap{height:110px; border-bottom:1px solid #E1E1E1; background:url(../img/index/graph_dash.png) 0 100% repeat;}
.chart_bar_vertical_wrap .data_wrap ul{display:flex; align-items:flex-end; justify-content: space-between; height:100%;}
.chart_bar_vertical_wrap .data_wrap ul li{flex:1 1 auto; position:relative; align-self:stretch; display:flex; flex-direction: column; align-items:center; justify-content:flex-end;}
.chart_bar_vertical_wrap .data_wrap .label{position:absolute; left:0; top:100%; width:100%; text-align:center; font-size:1rem; line-height:1.4rem; color:#bbb; margin-top:0.6rem;}
.chart_bar_vertical_wrap .data_wrap .graph{position:relative; width:1.8rem; height:100%;}
.chart_bar_vertical_wrap .data_wrap .guage{position:absolute; left:0; bottom:0; display:block; width:100%; border-radius:1.8rem 1.8rem 0 0; background: linear-gradient(180deg, #C4C4C4 0%, rgba(195, 195, 195, 0.2) 100%); animation:verticalBar 1.2s reverse cubic-bezier(0.445, 0.05, 0.055, 0.95);}
.chart_bar_vertical_wrap .data_wrap .data{position:absolute; left:50%; top:0; transform:translate(-50%, -1.5rem); font-size:1rem; color:#656565;}
.chart_bar_vertical_wrap .data_wrap ul li:last-child .guage{background: linear-gradient(180deg, #24D3C9 0%, rgba(36, 211, 201, 0.2) 100%);
}
.chart_bar_vertical_wrap .data_wrap ul li:last-child .label{color:#1E1E1E;}
.chart_bar_vertical_wrap .data_wrap ul li:last-child .data{color:#24D3C9;}
@keyframes verticalBar {
    to {height:0%}
}


/* 연료비 절감 추이 */
.chart_bar_vertical_double_wrap{position:relative; width:344px; height:157px; margin:20px auto 0;}
.chart_bar_vertical_double_wrap .data_label{position:absolute; left:0; bottom:0;}
.chart_bar_vertical_double_wrap .data_label ul{display:flex; align-items:center;}
.chart_bar_vertical_double_wrap .data_label ul li{display:flex; align-items:center; font-size:1rem; color:#bbb; line-height:1.4rem;}
.chart_bar_vertical_double_wrap .data_label ul li + li{margin-left:1.2rem;}
.chart_bar_vertical_double_wrap .data_label ul li:before{content:''; display:block; width:1rem; height:1rem; border-radius:1rem; margin-right:0.4rem; background:#C3C3C3;}
.chart_bar_vertical_double_wrap .data_label ul li:nth-child(2):before{background:#FF98AE;}
.chart_bar_vertical_double_wrap .data_info{position:absolute; right:0; bottom:0; font-size:1rem; color:#bbb; line-height:1.2rem;}
.chart_bar_vertical_double_wrap .data_info::before{content:''; position:absolute; left:0; top:50%; transform:translate(-0.7rem, -50%); display:block; width:0.3rem; height:0.3rem; border-radius:0.3rem; background:#d9d9d9;}
.chart_bar_vertical_double_wrap .data_wrap{height:110px; border-bottom:1px solid #E1E1E1; background:url(../img/index/graph_dash.png) 0 100% repeat;}
.chart_bar_vertical_double_wrap .data_wrap ul{display:flex; align-items:flex-end; justify-content: space-between; height:100%;}
.chart_bar_vertical_double_wrap .data_wrap ul li{flex:1 1 auto; position:relative; align-self:stretch; display:flex; flex-direction: column; align-items:center; justify-content:flex-end;}
.chart_bar_vertical_double_wrap .data_wrap .label{position:absolute; left:0; top:100%; width:100%; text-align:center; font-size:1rem; line-height:1.4rem; color:#bbb; margin-top:0.6rem;}
.chart_bar_vertical_double_wrap .data_wrap .graph{position:relative; width:2.8rem; height:100%;}
.chart_bar_vertical_double_wrap .data_wrap .guage{position:absolute; left:0; bottom:0; display:block; width:1.8rem; border-radius:1.8rem 1.8rem 0 0; background: linear-gradient(180deg, #C4C4C4 0%, rgba(195, 195, 195, 0.2) 100%); animation:verticalBar 1.2s reverse cubic-bezier(0.445, 0.05, 0.055, 0.95);}
.chart_bar_vertical_double_wrap .data_wrap .guage2{position:absolute; right:0; bottom:0; display:block; width:0.4rem; border-radius:1.8rem 1.8rem 0 0; background:#9C9C9C; animation:verticalBar 1.2s reverse cubic-bezier(0.445, 0.05, 0.055, 0.95);}
.chart_bar_vertical_double_wrap .data_wrap .data{position:absolute; left:50%; top:0; transform:translate(-50%, -1.5rem); font-size:1rem; color:#656565; white-space:nowrap;}
.chart_bar_vertical_double_wrap .data_wrap .guage2 .data {color:#1e1e1e; font-weight:600;}
.chart_bar_vertical_double_wrap .data_wrap ul li:last-child .guage{background: linear-gradient(180deg, #FF98AE 0%, rgba(255, 152, 174, 0.2) 100%);
}
.chart_bar_vertical_double_wrap .data_wrap ul li:last-child .label{color:#1E1E1E;}
.chart_bar_vertical_double_wrap .data_wrap ul li:last-child .guage .data{color:#FF7290;}

