@charset "utf-8";

*,
*:before,
*:after{-webkit-box-sizing: border-box; box-sizing: border-box; outline:none; -webkit-tap-highlight-color:transparent !important; -webkit-text-size-adjust:none; -moz-text-size-adjust:none; -ms-text-size-adjust:none;}

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	font-size:10px;
}
body {
	line-height: 1;
    color:var(--fc_01, #1E1E1E);
	font-family: 'Roboto', 'Noto Sans KR', sans-serif;
	font-size:1.6rem;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, a:visited, a:hover, a:active{
	/* color:inherit; */
	text-decoration: none;
}
input, textarea, select, button, a{
	outline:none;
	font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

button {cursor:pointer; background:none; padding:0; border:0 none; font-family: 'Roboto', 'Noto Sans KR', sans-serif;}

::-webkit-input-placeholder {color:var(--placeholder,#B4B4B4); -webkit-text-fill-color:var(--placeholder,#B4B4B4);}
::placeholder {color:var(--placeholder,#B4B4B4); -webkit-text-fill-color:var(--placeholder,#B4B4B4);}

input,select,textarea,button {border:0; border-radius:0; -webkit-appearance:none; appearance:none;}
button {background-color:transparent; color:inherit; cursor:pointer;}
input::-ms-clear,
input::-ms-reveal {display:none; width:0; height:0;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {display:none;}
input[type=date]::-webkit-inner-spin-button {display:none;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-calendar-picker-indicator {display:none;}
input[type=number] {-moz-appearance:textfield;}
/* input[type=checkbox]:focus{outline:none;} */
input[type=password]:not(:placeholder-shown){font-family:'pass', sans-serif;}
select::-ms-expand {display:none;}
select:required:invalid {color:#A0A4AF;}
option {color:#000;}
option[value=""][disabled] {display:none;}