@charset "utf-8";


/* section */
.member .section {position: relative; width: 80rem; margin: 0 auto; padding: 5.1rem 13.1rem; background: #FFF; border: 1px solid #E1E1E1; box-sizing: border-box;}
.member .section + .section {margin-top: 1.4rem;}

.login {display: flex; flex-direction: column; justify-content: center; align-items: center; background: #FFF;}
.login .section {width: 40.2rem; margin: 0 auto;}

.join .section {position: relative; width: 80rem; margin: 0 auto; padding: 5.1rem 5.9rem 11.9rem; background: #FFF; border: 1px solid #E1E1E1; box-sizing: border-box;}


/* pop_up */
.pop_up {display: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 40rem; padding: 3rem 2rem; text-align: center; background: #FFF; border: 1px solid #E1E1E1; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2); border-radius: 6px;}
.pop_up p {font-size: 1.6rem; line-height: 2.3rem; color: var(--fc_01, #1E1E1E);}
.pop_up p .under_line {display: inline-block; position: relative;}
.pop_up p .under_line::after {content: ''; display: block; width: calc(100% - 0.2rem); height: 0.1rem; position: absolute; left: 50%; bottom: 0.3rem; transform: translateX(-50%); border-bottom: 1px solid #1E1E1E;}
.pop_up .pop_close {width: 10.6rem; height: 3.2rem; margin-top: 2rem; padding: 0.6rem 4rem; font-size: 1.4rem; line-height: 2rem; vertical-align: middle; background: var(--bg_01, #1E1E1E); border-radius: 4px; color: #FFF;}
.pop_up.open{display: block;}


/* idpw */
.idpw .form_item {justify-content: space-between;}
.idpw .form_item .item_cont {width: 40.2rem; flex: none;}


/* [login.html] 로그인 */
.container.login {height:calc(100vh - 6rem);}
.login .check_item {margin-top:1.2rem;}
.login .info_txt {margin-top:4rem; color:var(--fc_02, #B4B4B4); font-size:1.4rem; line-height:2.4rem;}

/* [join_guide.html] 약관동의 */
.terms_wrap + .terms_wrap {margin-top:3.8rem;}
.terms_wrap .term_tit {display:flex; flex-wrap:wrap; align-items:center; color:var(--fc_01, #1E1E1E); font-size:1.6rem; font-weight:500; line-height:2.4rem;}
.terms_wrap .term_tit > span {margin-left:0.2rem; font-size:1.4rem; font-weight:400; line-height:2.4rem;}
.terms_wrap .terms_txt_wrap {height:11.6rem; margin-top:0.8rem; padding:1.1rem; border:1px solid #E1E1E1; overflow-y:auto; color:#777; font-size:1.4rem; line-height:2rem;}
.terms_wrap .radio_wrap {margin-top:0.8rem;}

/* [join_ok.html] 가입완료 */
.join .section.join_ok {display:flex; flex-direction:column; justify-content:center; min-height:calc(100vh - 15.6rem); padding:5.2rem 5.9rem;}
.join_comp_wrap {margin-bottom:8.4rem;}
.join_comp_wrap .icon {display:block; width:6.2rem; height:6.2rem; margin:0 auto;}
.join_comp_wrap .icon.icon_check {background:url(../img/common/ico_check_mint.svg) no-repeat center / contain;}
.join_comp_wrap .comp_msg_wrap {margin-top:4rem; font-size:2rem; line-height:3rem; text-align:center;}

